<web-app xmlns="http://java.sun.com/xml/ns/javaee" version="2.5">
    <servlet>
        <servlet-name>ScriptSelectionServlet</servlet-name>
        <servlet-class>com.bedatadriven.rebar.appcache.server.ScriptSelectionServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ScriptSelectionServlet</servlet-name>
        <url-pattern>/TestApp/TestApp.nocache.js</url-pattern>
    </servlet-mapping>
        <servlet-mapping>
        <servlet-name>ScriptSelectionServlet</servlet-name>
        <url-pattern>/TestApp/TestApp.gears.manifest</url-pattern>
    </servlet-mapping>
            <servlet-mapping>
        <servlet-name>ScriptSelectionServlet</servlet-name>
        <url-pattern>/TestApp/TestApp.appcache</url-pattern>
    </servlet-mapping>
</web-app>