<web-app xmlns="http://java.sun.com/xml/ns/javaee" version="2.5">
  <servlet>
    <servlet-name>SelectionServlet</servlet-name>
    <servlet-class>com.bedatadriven.rebar.appcache.server.DefaultSelectionServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SelectionServlet</servlet-name>
    <url-pattern>/TestApp/en.js</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>SelectionServlet</servlet-name>
    <url-pattern>/TestApp/fr.js</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>SelectionServlet</servlet-name>
    <url-pattern>/TestApp/en.appcache</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>SelectionServlet</servlet-name>
    <url-pattern>/TestApp/fr.appcache</url-pattern>
  </servlet-mapping>
</web-app>